footer {
	height: 100vh;
	background: black;
	color: #ccc;
	clear: both;
	padding-top: 200px;


	h2 {
	font-family: "Poiret One", sans serif;
	text-transform: uppercase;
	}
	
	h3 {
	font-family: 'Frank Ruhl Libre', sans-serif;
	}

	p {
	font-family: 'Merriweather', serif;
	font-style: italic;
	}

	#about, #contact {
	width: 50%;
	float: left;
	}

	#contact {
	padding-left: 250px;
	}

	#about {
	padding-left: 80px;
	}

	#quote {
	padding: 40px;
	}
}
