footer {
	background: black;
	color: #ccc;
	clear: both;
	padding: 100px 0 50px 0;



	#about, #contact {
	width: 50%;
	float: left;
	}

	#contact {
	padding-left: 250px;
	}

	#about {
	padding-left: 80px;
	}

	#quote {
	padding: 40px;
	}


}
