footer {
	height: 100vh;
	background: black;
	color: #ccc;
	clear: both;
	padding-top: 30vh;



	#about, #contact {
	width: 50%;
	float: left;
	}

	#contact {
	padding-left: 250px;
	}

	#about {
	padding-left: 80px;
	}

	#quote {
	padding: 40px;
	}

	#copyright {
	text-align: center;
	opacity: 0.7;
	color: #ccc;
	padding-top: 40px;
	}
}
