#home {
	&:hover{

	color: black !important;

}

}
nav {
	padding-left: 20px;
	padding-right: 20px;
position:fixed;
height: 110px;
width: 100%;
z-index: 1000;
background: white;
margin: 0;
border-bottom: 1px solid #ccc;
}

.nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

.menuitem, .icon {
font-family: 'Merriweather', serif;
	font-size: $menu;
	padding-top: 30px;
a:hover {
 color:#df925f;
 transition: color 0.3s;
		}

	}

.headline {
	margin-right: auto;
	font-family: "Poiret One", sans serif;
	
	a{
	&:hover{
	color: black !important;
		}
	&:active{
	color:black !important;
		}	
	}
	}
}


.header-img {
	background: url("../img/selfie4.jpg")
	no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;

}