
@media (max-width: 480px) {
	h1 {
	font-size: 2em !important;
	}


}

@media (max-width: 820px) {
.nav {
display: block;
text-align: center;
padding: 10px 15px;
height: 100vh; 

.menuitem a, .icon a{
	color: white;
	transition: color 0.4s;
	font-size: 1.5em;
}  


  }


.header-img {
	height: 550px;
}

.container-fluid {
	padding: 10px;
}


nav {
	position: absolute;
}


footer {

height:auto;
padding: 50px;
overflow: visible;
	#about, #contact {
	width: 100%;
	float: none;
	display: block;
	text-align:center;
	padding-left: 0;
	padding-top: 30px;

	}
quote {
	padding: 50px;

}

hr {
	display: block;
}
#contact {
	padding-right: 0px !important;
}
#backarrow {
	padding-top: 20px;
}

}

.col-md-6 {
padding-top: 50px;
padding-left: 0;
padding-right: 0;
}


}


@media(min-width: 820px) and (max-width: 1024px) {

footer {
padding-top: 100px !important;
height: 700px;


#contact {
padding-left: 120px;
	}
}


.row {
	margin: 0 auto;
}


.container-fluid {
	padding: 9%;

	}

}