#overlay {
text-align:center;
background: rgba(0, 0, 0, 0.76);
  left: 50%;
  top: 50%;
width: 70%;
margin: 0;
   transform: translate(-50%, -50%);
  position:fixed;
  z-index: 90000;
  display: none;
  cursor: pointer;
  overflow: hidden !important;
  box-shadow: 5px 5px 10px #000 0.7;


img {
max-height: 500px;
max-width: 100%;
  background-repeat: no-repeat;
 clear:both;
margin-left: auto;
margin-right: auto;
display:block;
}

}


.captions{
	margin: 0 auto;
	text-align:center;
	padding: 20px;
	color: #fff;
	visibility: visible;
	clear:both;
}


.captions p {
	display: inline;
}

.hide {
	visibility: hidden;
}
