#overlay {
text-align:center;
background: rgba(0, 0, 0, 0.76);
  left: 50%;
  top: 50%;

width: 75%;
height: 95vh;
margin: 0;
padding: 20px;
   transform: translate(-50%, -50%);
  position:fixed;
  z-index: 90000;
  display: none;
  cursor: pointer;
  overflow: hidden !important;
  box-shadow: 5px 5px 10px #000 0.7;
  clear: both;



img {
max-height: 75%;
max-width: 95%;
  background-repeat: no-repeat;
 clear:both;
margin: 0 auto;
display:block;
}

#info{
	    text-align: center;
    margin-right: 35px;
    float: none;
    display: inline;
   padding-top: 5px;

}

}


#slideshow-text {
	text-transform: uppercase;
	font-family: "Poiret One", sans serif;
	float: left;
	color: #ccc;
	padding: 20px;
	font-style: normal;
	 &:hover{
	 	color: white;
	 }

}

.captions{
	margin: auto;
	text-align:center;
	height: 40px;
	color: #fff;
	margin: 20px;
	visibility: visible;
	clear:both;


 p {
	display: inline;
	clear:both;
}


}
.hide {
	visibility: hidden;
}

svg:not(:root) {
    overflow: hidden;
    fill: white;
    }



#slide {
	
	text-align:center;
background: rgba(0, 0, 0, 0.76);
  left: 50%;
  top: 50%;
width: 700px;
height: 500px;
margin: 0;
   transform: translate(-50%, -50%);
  position:fixed;
  z-index: 90000;
  display: none;
  cursor: pointer;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  overflow: hidden !important;
  box-shadow: 5px 5px 10px #000 0.7;

  clear: both;



}