.container-fluid {
	padding: 15%;
	max-width: 1400px;

}
.row {
	margin:0;
	padding: 0;
}

.item {
	width: 420px;
	padding: 50px;
	float: none;
}

.item img {
    display: block;
    width: 100%;
}


.col h4 {
	padding: 10px;
}


.col {
	margin:0;
	padding: 0;
}
