
#backarrow {

width: 100%;
clear:both;
text-align: center;


#back {
	color: #ccc;
	opacity: 0.7;
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	clear: both;
	padding-top: 50px;
	visibility: hidden;
	transform:  translate3d(0,50%,0);
	opacity: 0;
	

&:hover {
	opacity: 0.3;
	transition: opacity 0.3s;
}

	
}

}

.fa-angle-right {
	    float: right;
    font-size: 2.3em;
    color: #ccc;
    opacity: 0.8;
    margin-right: 15px;


&:hover {
	color: white;
}


}

.fa-angle-left {
	    float: left;
    font-size: 2.3em;
    color: #ccc;
    opacity: 0.8;
   margin-left: 15px;

&:hover {
	color: white;
}

}




#close {

	float: right;
	padding: 15px;
	color: #fff;
	z-index: 20000;
	display: block;
	font-size: 1.4em;
	opacity: 0.8;


&:hover {
	opacity: 1;
}


}