
body{
	background: white;
}


h1, .nav a {
	text-transform: uppercase;
}

h4  {
	font-family: 'Merriweather', serif;
	font-style: italic;
	text-align: center;
	padding-bottom: 50px;
	font-size: $h4;
	
}



h1 {
	font-size: $h1;
}
a {
outline: none !important;
border: none !important;
text-decoration: none !important;
background: transparent !important;
	color: black;


&:hover {
	color: #ff92a6 !important;
}
}

.selected {
	color: #ff92a6;
}


hr {
	display: none;
	color: #ccc;
	width: 30px;
}

p {
	text-decoration: none;
	font-size: $h4;
	font-family: 'Merriweather', serif;
	font-style: italic;
}

	h2 {
	font-family: "Poiret One", sans serif;
	text-transform: uppercase;
	}
	
	h3 {
	font-family: 'Frank Ruhl Libre', sans-serif;
	}

