
body{
	background: white;
}


h1, .nav a {
	text-transform: uppercase;
}

h4  {
	font-family: 'Merriweather', serif;
	font-style: italic;
	text-align: center;
	padding: 10px;
}


a {
outline: none !important;
border: none !important;
text-decoration: none !important;
background: transparent !important;
	color: black;


&:active {
	color: #df925f !important;
	}
	&:focus {
	color: #df925f;
	}
}

.selected {
	color: #8C001A;
}


hr {
	display: none;
	color: #ccc;
	width: 30px;
}

p {
	text-decoration: none;
}